$background: #232C3B;
.call-application {
  background: $background;

  .remoteVideo {
    text-align: center;
    background: salmon;
  }

  .call-controls {
    text-align: center;
    margin-top: -100px;

    .btn-float {
      i {
        font-size: 2rem;
      }
    }

    .btn-float-lg {
      i {
        font-size: 3.5rem;
      }
    }
  }
}

.modal.call-incoming {
  background: transparent;
  .modal-dialog {
    .modal-content {
      background: transparent;
    }
  }
  .modal-close {
    display: none;
  }
}
