$background: #232C3B;
.call-application {
  background: $background;

  .remoteVideo {
    text-align: center;

    .local-video {
      position: absolute;
      width: 16.66%;
      bottom: 2rem;
      right: 2rem;
    }
  }

  .video-poster {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 20%;
    border-radius: 100%;
  }

  .video-poster-thumbnail {
    position: absolute;
    top: 15%;
    left: 30%;
    width: 40%;
    border-radius: 100%;
  }

  .call-controls {
    text-align: center;
    margin-top: -100px;

    .btn-float {
      i {
        font-size: 2rem;
      }
    }

    .btn-float-lg {
      i {
        font-size: 3.5rem;
      }
    }
  }
}

.modal.call-incoming {
  background: transparent;
  .modal-dialog {
    .modal-content {
      background: transparent;
    }
  }
  .modal-close {
    display: none;
  }
}
